[Unit]
Description=Init k8s
ConditionFileIsExecutable=/usr/local/sbin/initK8s.sh
After=docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/initK8s.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
